.main-header {
    background-color: rgb(185, 23, 218);
    display: flex;
    height: 10vw;
    justify-content: center;
    align-items: center;
}

.main-header-font {
    font: Georgia;
    color: rgb(0, 255, 0)
}

.lara::before {
    rotate: 90deg;
}
