@import url("root.css");

.main-header {
    background-color: var(--main-header-bg);
    display: flex;
    height: 20vw;

}

.main-header-font {
    font: Georgia;
    color: rgb(0, 255, 0)
}

.lara::before {
    rotate: 90deg;
}
